body {
  background: rgb(239, 235, 250);
  font-family: "Karla", sans-serif;
}

.box {
  background-color: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}
.mainbody {
  text-align: center;
}
h1,
h2 {
  text-transform: capitalize;
}
.tempNow {
  display: block;
  margin: 50px auto -10px auto;

  font-size: 50px;
  color: #8f42c3;
}
.todayHilo {
  margin-bottom: 10px;
}
h2 {
  font-size: 30px;
  color: #8f42c3;
}
.search {
  display: block;
  margin-top: 6px;
}

.searchEnter {
  color: white;
  display: block;
  font-size: 18px;

  padding: 4px 30px;
  background-color: #8f42c3;

  border-radius: 30px;
  border: solid 2px white;
}
.button {
  color: white;
  display: block;
  font-size: 18px;
  margin: 10px auto;
  padding: 8px 30px;
  background-color: #ec6e4c;

  margin-bottom: 15px;
  border-radius: 30px;
  border: solid 2px white;
}
.mainEmoji {
  font-size: 100px;
  background-color: rgb(193, 177, 235);
  border-radius: 70px;
  margin: 20px auto 20px auto;
}
h3 {
  font-size: 20px;
}
.unit {
  font-size: 30px;
  color: black;
  position: relative;
  top: -32px;
  left: -20px;
  text-decoration: none;
  cursor: default;
}
.active {
  color: #8f42c3;
}
li {
  list-style: none;
}
.gitLink {
  text-align: center;
  margin-top: -35px;
}
.wx-forecast {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}
.emoji-forecast {
  background-color: rgb(193, 177, 235);
  border-radius: 70px;
}
.forecast-max {
  color: #8f42c3;
}
